<%- include("partials/header.ejs") %>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container">

                <hr>
                <h1>Perguntas</h1>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/pergunta" class="btn btn-primary">Perguntar</a>
                </div>
                <hr>

                <% perguntas.forEach(pergunta=> { %>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                <%= pergunta.titulo %>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="/pergunta/<%= pergunta.id %>">Responder</a>
                        </div>
                    </div>
                    <% }) %>

            </div>

    </body>

    <%- include("partials/header.ejs") %>