<%- include("partials/header.ejs") %>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container">
                <br>
                <h3>Pergunta:</h3>
                <hr>

                <h5>
                    <%= pergunta.titulo %>
                </h5>
                <p><%- pergunta.descricao %></p>

                <br>
                <h3>Resposta:</h3>
                <hr>
                <form>
                    <h5>Digite sua resposta abaixo:</h5>
                    <textarea class="form-control" name="corpo"></textarea><br>
                    <input type="hidden" name="pergunta" value="<%- pergunta.id %>">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary">Responder</button>
                    </div>
                </form>
            </div>

    </body>

    <%- include("partials/footer.ejs") %>